{% extends "base.html.twig" %}

{% block title %}{{ 'Alle prosjekter :: ' ~ budget.getName() }}{% endblock %}

{% set current_year = "now"|date("Y") %}

{% block breadcrumbs %}
	{% embed "breadcrumbs.html.twig" with {'type': 'project'} %}{% endembed %}	
{% endblock %}
{% block body %}
	<h1>
		{{ budget.getName() }}
		<small>
			<a href="{{ url('UKMeco_budget_edit', {'id': budget.getId() } ) }}"><img src="//ico.ukm.no/pencil-256.png" width="18" /></a>
		</small>
	</h1>
	<p>{{ budget.getDescription() }}</p>

	
	<p class="lead well">
		{% if budget.getSubProjectsAllocatedTotal( current_year ) < transactionServ.getTotalByBudget( budget, current_year ) %}
			Overforbruk 
			<label class="text-danger">
				kr {{ ( transactionServ.getTotalByBudget( budget,current_year ) - budget.getSubProjectsAllocatedTotal( current_year ) )|kroner }},-
			</label>
		{% else %}
			Gjenstående 
			<label class="text-success">
				kr {{ ( budget.getSubProjectsAllocatedTotal( current_year ) - transactionServ.getTotalByBudget( budget,current_year ) )|kroner }},-
			</label>
		{% endif %}
		av budsjetterte <label class="text-info">kr {{ budget.getSubProjectsAllocatedTotal( current_year )|kroner }},-</label>.
		Benyttet <label class="text-info">kr {{ transactionServ.getTotalByBudget( budget, current_year )|kroner }},-</label> 
		<br />
		<small>
		Tildelt <label class="text-info"> kr {{ budget.getAllocatedAmount( current_year )|kroner }},-</label> fra sjefen.
		{% if budget.getSubProjectsAllocatedTotal( current_year ) == budget.getAllocatedAmount( current_year ) %}
			(Nøyaktig likt beregnet budsjett)
		{% elseif budget.getSubProjectsAllocatedTotal( current_year ) < budget.getAllocatedAmount( current_year ) %}
			Ditt budsjett gir et mindreforbruk på 
			<label class="text-success">
				kr {{ ( budget.getAllocatedAmount( current_year ) - budget.getSubProjectsAllocatedTotal( current_year ) )|kroner }},-
			</label>
		{% else %}
			Ditt budsjett gir et merforbruk på 
			<label class="text-danger">
				kr {{ ( budget.getSubProjectsAllocatedTotal( current_year ) - budget.getAllocatedAmount( current_year ) )|kroner }},-
			</label>
		{% endif %}
		</small>
	</p>

	{% if projects|length > 0 %}
		<table class="table table-striped subproject">
			<thead>
				<tr>
					<th class="col-xs-3">Prosjekter</th>
					<th class="col-xs-1 kroner"><small>{{ "now -1 year"|date('Y') }}<br />budsjett</small></th>
					<th class="col-xs-1 kroner"><small>{{ "now -1 year"|date('Y') }}<br />regnskap</small></th>
					{% for i in current_year.."now +1 years"|date("Y") %}
						{% if loop.first %}
							<th class="col-xs-1 warning kroner">{{ i }}<br />budsjett</th>
							<th class="col-xs-1 warning kroner">{{ i }}<br />regnskap</td>
						{% else %}
							<th class="col-xs-1 kroner">
								<small>{{ i }}<br />budsjett</small>
							</th>
						{% endif %}
					{% endfor %}
					<th class="col-xs-1"></th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<td>
							<a href="{{ url('UKMeco_subproject_homepage', {'project': project.getId(), 'budget': budget.getId() } ) }}">{{ project.getName() }}</a>
						</td>
						<td class="kroner">
							<small>{{ project.getSubProjectsAllocatedAmount( current_year-1 )|kroner }},-</small>	
						</td>
						<td class="kroner">
							<small>{{ transactionServ.getTotalByProject( project, current_year-1 )|kroner }},-</small>	
						</td>

						{% for i in current_year.."now +1 years"|date("Y") %}
							{% if loop.first %}
								<td class="warning kroner">{{ project.getSubProjectsAllocatedAmount( i )|kroner }},-</td>
								<td class="warning kroner">{{ transactionServ.getTotalByProject( project, current_year )|kroner }},-</td>
							{% else %}
								<td class="kroner">{{ project.getSubProjectsAllocatedAmount( i )|kroner }},-</td>
							{% endif %}
						{% endfor %}
						<td>
							<div class="dropdown" align="right">
								<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsProject_{{ project.getId() }}" data-toggle="dropdown" aria-expanded="true">
									Handlinger
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="actionsProject_{{ project.getId() }}">
									<li role="presentation">
										<a href="{{ url('UKMeco_project_edit', {'id': project.getId(), 'budget': budget.getId() } ) }}">Rediger prosjekt</a>
									</li>
									<li role="presentation">
										<a href="{{ url('UKMeco_subproject_homepage', {'project': project.getId(), 'budget': budget.getId() } ) }}">Vis utgiftsgrupper</a>
									</li>
									<li role="presentation">
										<a href="{{ url('UKMeco_project_delete', {'id': project.getId(), 'budget': budget.getId() } ) }}" onClick="return confirm('Er du sikker på at du vil slette &quot;{{ project.getName() }}&quot;');">Slett prosjekt</a>
									</li>
								</ul>
							</div>
						</td>
		
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th class="col-xs-3">SUM</th>
					<th class="col-xs-1 kroner"><small>{{ budget.getSubProjectsAllocatedTotal( current_year-1 )|kroner }},-</small></th>
					<th class="col-xs-1 kroner"><small>{{ transactionServ.getTotalByBudget( budget, current_year-1 )|kroner }},-</small></th>
					<th class="col-xs-1 warning kroner">{{ budget.getSubProjectsAllocatedTotal( current_year )|kroner }},-</th>
					<th class="col-xs-1 warning kroner">{{ transactionServ.getTotalByBudget( budget, current_year )|kroner }},-</td>
					{% for i in "now +1 year"|date("Y").."now +1 years"|date("Y") %}
						<th class="col-xs-1 kroner"><small>{{ budget.getSubProjectsAllocatedTotal( i )|kroner }},-</small></th>
					{% endfor %}
					<th class="col-xs-1"></th>
				</tr>
			</tfoot>
		</table>
	{% else %}
		<div class="alert alert-info">
			Det er ikke lagt til noen prosjekter i "{{ budget.getName() }}" enda. 
			<a href="{{ url( 'UKMeco_project_create', {'budget': budget.getId()} ) }}">Start med å legge til et prosjekt</a>
		</div>
	{% endif %}
{% endblock %}