{% extends "base.html.twig" %}

{% block title %}{{ 'Alle del-formål :: ' ~ budget.getName() }}{% endblock %}

{% block body %}
	<div class="pull-right">
		<p></p>
		<a href="{{ url( 'UKMeco_project_create', {'budget': budget.getId()} ) }}">
			<button class="btn btn-success"><i class="icon-add"></i> Legg til nytt del-formål</button>
		</a>
	</div>
	
	<h1>
		<a href="{{ url('UKMeco_budget_homepage') }}"><img src="//ico.ukm.no/hus-64.png" width="40" /></a> 
		{{ budget.getName() }}
		<small>
			<a href="{{ url('UKMeco_budget_edit', {'id': budget.getId() } ) }}"><img src="//ico.ukm.no/pencil-256.png" width="18" /></a>
		</small>
</h1>
	
	<p class="lead">
		Benyttet <label class="text-info">kr {{ transactionServ.getTotalByBudget( budget, "now"|date("Y") )|kroner }},-</label> 
		av budsjetterte <label class="text-info">kr {{ budget.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</label> 
		i {{ "now"|date("Y") }}.
		{% if budget.getSubProjectsAllocatedTotal( "now"|date("Y") ) < transactionServ.getTotalByBudget( budget, "now"|date("Y") ) %}
			Overforbruk 
			<label class="text-danger">
				kr {{ ( transactionServ.getTotalByBudget( budget,"now"|date("Y") ) - budget.getSubProjectsAllocatedTotal( "now"|date("Y") ) )|kroner }},-
			</label>
		{% else %}
			Gjenstående 
			<label class="text-success">
				kr {{ ( budget.getSubProjectsAllocatedTotal( "now"|date("Y") ) - transactionServ.getTotalByBudget( budget,"now"|date("Y") ) )|kroner }},-
			</label>
		{% endif %}
	</p>

	{#<h3>Alle del-formål</h3>#}
	<table class="table table-striped subproject">
		<thead>
			<tr>
				<th></th>
				<th colspan="3" style="text-align:center;">{{ "now"|date("Y") }}</th>
			</tr>
			<tr>
				<th class="col-xs-3">Del-formål</th>
				{% for i in "now"|date("Y").."now +3 years"|date("Y") %}
					{% if loop.first %}
						<th class="col-xs-1 info kroner">Budsjett</th>
						<th class="col-xs-1 warning kroner">Regnskap</td>
					{% else %}
						<th class="col-xs-1 kroner">
							{{ i }}
						</th>
					{% endif %}
				{% endfor %}
				<th class="col-xs-1"></th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>
						<a href="{{ url('UKMeco_subproject_homepage', {'project': project.getId(), 'budget': budget.getId() } ) }}">{{ project.getName() }}</a>
					</td>
					{% for i in "now"|date("Y").."now +3 years"|date("Y") %}
						{% if loop.first %}
							<td class="info kroner">{{ project.getSubProjectsAllocatedAmount( i )|kroner }},-</td>
							<td class="warning kroner">{{ transactionServ.getTotalByProject( project, "now"|date("Y") )|kroner }},-</td>
						{% else %}
							<td class="kroner">{{ project.getSubProjectsAllocatedAmount( i )|kroner }},-</td>
						{% endif %}
					{% endfor %}
					<td>
						<div class="dropdown" align="right">
							<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsProject_{{ project.getId() }}" data-toggle="dropdown" aria-expanded="true">
								Handlinger
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="actionsProject_{{ project.getId() }}">
								<li role="presentation">
									<a href="{{ url('UKMeco_project_edit', {'id': project.getId(), 'budget': budget.getId() } ) }}">Rediger del-formål</a>
								</li>
								<li role="presentation">
									<a href="{{ url('UKMeco_subproject_homepage', {'project': project.getId(), 'budget': budget.getId() } ) }}">Vis prosjekter</a>
								</li>
							</ul>
						</div>
					</td>
	
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th class="col-xs-3">SUM</th>
				<th class="col-xs-1 info kroner">{{ budget.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</th>
				<th class="col-xs-1 warning kroner">{{ transactionServ.getTotalByBudget( budget, "now"|date("Y") )|kroner }},-</td>
				{% for i in "now +1 year"|date("Y").."now +3 years"|date("Y") %}
					<th class="col-xs-1 kroner">{{ budget.getSubProjectsAllocatedTotal( i )|kroner }},-</th>
				{% endfor %}
				<th class="col-xs-1"></th>
			</tr>
		</tfoot>
	</table>

{% endblock %}