{% extends "base.html.twig" %}

{% block title %}Hjem{% endblock %}

{% block body %}
	<div class="pull-right">
		<p></p>
		<a href="{{ url( 'UKMeco_budget_create' ) }}">
			<button class="btn btn-success"><i class="icon-add"></i> Legg til nytt område</button>
		</a>
	</div>
	
	<h1>Oversikt</h1>
	<p class="lead">Viser alle budsjett-/regnskapsområder</p>

	{% if budgets|length > 0 %}
	<table class="table table-striped subproject">
		<thead>
			<tr>
				<th class="col-xs-3">Budsjettområde</th>
				<th class="col-xs-1 kroner">Budsjett</th>
				<th class="col-xs-1 kroner">Regnskap</th>
				<th class="col-xs-1 kroner">Status</th>
				<th class="col-xs-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for budget in budgets %}
			<tr>
				<td class="col-xs-7 col-sm-5">
					<a href="{{ url('UKMeco_project_homepage', {'budget': budget.getId() } ) }}">{{ budget.getName() }}</a>
					<small>({{ budget.getOwnerObject().getName() }})</small>
				</td>
				<td class="col-xs-2 col-sm-2 kroner">{{ budget.getAllocatedAmount( "now"|date("Y") )|kroner }},-</td>
				<td class="col-xs-2 col-sm-2 kroner">{{ transactionServ.getTotalByBudget( budget, "now"|date("Y") )|kroner }},-</td>
				<td class="col-xs-2 col-sm-2 kroner {{ budget.getAllocatedAmount( "now"|date("Y") ) < transactionServ.getTotalByBudget( budget, "now"|date("Y") ) ? 'text-danger' : ''}}">{{ (budget.getAllocatedAmount( "now"|date("Y") ) - transactionServ.getTotalByBudget( budget, "now"|date("Y") ))|kroner }},-</td>
				<td>
					<div class="dropdown" align="right">
						<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsBudget_{{ budget.getId() }}" data-toggle="dropdown" aria-expanded="true">
							Handlinger
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="actionsBudget_{{ budget.getId() }}">
							<li role="presentation">
								<a href="{{ url('UKMeco_budget_edit', {'id': budget.getId() } ) }}">Rediger</a>
							</li>
							<li role="presentation">
								<a href="{{ url('UKMeco_project_homepage', {'budget': budget.getId() } ) }}">Vis prosjekter</a>
							</li>
						</ul>
					</div>
				</td>

			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			Det er ikke lagt til noen områder enda. 
			<a href="{{ url( 'UKMeco_budget_create' ) }}">Start med å legge til et</a>
		</div>
	{% endif %}
{% endblock %}