{% extends "base.html.twig" %}

{% block title %}Alle formål{% endblock %}

{% set current_budget = '' %}

{% block breadcrumbs %}
	{% embed "breadcrumbs.html.twig" with {'type': 'budget'} %}{% endembed %}	
{% endblock %}
{% block body %}
	<h1>Alle formål</h1>
	{% set control_allocated = 0 %}
	{% set control_subprojects = 0 %}
	{% set control_transactions = 0 %}

	{% if budgetGroups|length > 0 %}
	<table class="table table-striped subproject" id="UKMeco_formalstabell">
		<thead>
			<tr>
				<th class="col-xs-3">Formål</th>
				<th class="col-xs-1 kroner">Tildelt budsjett</th>
				<th class="col-xs-1 kroner">Beregnet budsjett</th>
				<th class="col-xs-1 kroner">Regnskap</th>
				<th class="col-xs-1 kroner">Status</th>
				<th class="col-xs-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for group in budgetGroups %}
			<tr class="UKMeco_budget_headerRow primary">
				<td><h4>{{ group.name }}-serien</h4></td>
				<td class="kroner"><h5>{{ group.sum.allocated|kroner }},-</h5></td>
				<td class="kroner"><h5>{{ group.sum.subProjects|kroner }},-</h5></td>
				<td class="kroner"><h5>{{ group.sum.transactions|kroner }},-</h5></td>
				<td class="kroner"><h5>{{ ( group.sum.allocated - group.sum.transactions )|kroner }},-</h5></td>
				<td></td>
			</tr>
			{% set control_allocated = control_allocated + group.sum.allocated %}
			{% set control_subprojects = control_subprojects + group.sum.subProjects %}
			{% set control_transactions = control_transactions + group.sum.transactions %}

			{% for budget in group.budgets %}
				<tr>
					<td class="col-xs-7 col-sm-5">
						<div class="UKMeco_nameCircle" title="{{ budget.getOwnerObject().getName() }}">{{ budget.getOwnerObject().getUsername()|first }}</div>
						<b>{{ budget.getCode() }}</b> 
						<a href="{{ url('UKMeco_project_homepage', {'budget': budget.getId() } ) }}" title="{{ budget.getDescription() }} &nbsp; ">{{ budget.getName() }}</a>
					</td>
					<td class="col-xs-2 col-sm-2 kroner">{{ budget.getAllocatedAmount( "now"|date("Y") )|kroner }},-</td>
					<td class="col-xs-2 col-sm-2 kroner">{{ budget.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</td>
					<td class="col-xs-2 col-sm-2 kroner">{{ transactionServ.getTotalByBudget( budget, "now"|date("Y") )|kroner }},-</td>
					<td class="col-xs-2 col-sm-2 kroner {{ budget.getAllocatedAmount( "now"|date("Y") ) < transactionServ.getTotalByBudget( budget, "now"|date("Y") ) ? 'text-danger' : ''}}">{{ (budget.getAllocatedAmount( "now"|date("Y") ) - transactionServ.getTotalByBudget( budget, "now"|date("Y") ))|kroner }},-</td>
	
	
					<td>
						<div class="dropdown" align="right">
							<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsBudget_{{ budget.getId() }}" data-toggle="dropdown" aria-expanded="true">
								Handlinger
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="actionsBudget_{{ budget.getId() }}">
								{% if user.hasRole('ROLE_ADMIN') %}
								<li role="presentation">
									<a href="{{ url('UKMeco_budget_edit', {'id': budget.getId() } ) }}">Rediger formål</a>
								</li>
								{% endif %}
								<li role="presentation">
									<a href="{{ url('UKMeco_project_homepage', {'budget': budget.getId() } ) }}">Vis prosjekter</a>
								</li>
								<li role="presentation">
									<a href="{{ url('UKMeco_budget_delete', {'id': budget.getId() } ) }}" onClick="return confirm('Er du sikker på at du vil slette &quot;{{ budget.getName() }}&quot;?');">Slett formål</a>
								</li>

							</ul>
						</div>
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
		</tbody>
		
		<tfoot>
			<tr class="UKMeco_budget_headerRow primary">
				<td><h4>SUM</h4></td>
				<td class="kroner"><h5>{{ control_allocated|kroner }},-</h5></td>
				<td class="kroner"><h5>{{ control_subprojects|kroner }},-</h5></td>
				<td class="kroner"><h5>{{ control_transactions|kroner }},-</h5></td>
				<td class="kroner"><h5>{{ ( control_allocated - control_transactions )|kroner }},-</h5></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
	{% else %}
		<div class="alert alert-info">
			Det er ikke lagt til noen formål enda. 
			<a href="{{ url( 'UKMeco_budget_create' ) }}">Start med å legge til et</a>
		</div>
	{% endif %}
{% endblock %}