{% extends "base.html.twig" %}

{% block title %}Alle formål{% endblock %}

{% block body %}
	{% embed "breadcrumbs.html.twig" with {'type': 'budget'} %}{% endembed %}	
	<h1>Alle formål</h1>

	{% if budgets|length > 0 %}
	<table class="table table-striped subproject" id="UKMeco_formalstabell">
		<thead>
			<tr>
				<th class="col-xs-3">Formål</th>
				<th class="col-xs-1 kroner">Tildelt budsjett</th>
				<th class="col-xs-1 kroner">Beregnet budsjett</th>
				<th class="col-xs-1 kroner">Regnskap</th>
				<th class="col-xs-1 kroner">Status</th>
				<th class="col-xs-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for budget in budgets %}
			<tr>
				<td class="col-xs-7 col-sm-5">
					<div class="UKMeco_nameCircle" title="{{ budget.getOwnerObject().getName() }}">{{ budget.getOwnerObject().getUsername()|first }}</div>
					<b>{{ budget.getCode() }}</b> 
					<a href="{{ url('UKMeco_project_homepage', {'budget': budget.getId() } ) }}">{{ budget.getName() }}</a>
				</td>
				<td class="col-xs-2 col-sm-2 kroner">{{ budget.getAllocatedAmount( "now"|date("Y") )|kroner }},-</td>
				<td class="col-xs-2 col-sm-2 kroner">{{ budget.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</td>
				<td class="col-xs-2 col-sm-2 kroner">{{ transactionServ.getTotalByBudget( budget, "now"|date("Y") )|kroner }},-</td>
				<td class="col-xs-2 col-sm-2 kroner {{ budget.getAllocatedAmount( "now"|date("Y") ) < transactionServ.getTotalByBudget( budget, "now"|date("Y") ) ? 'text-danger' : ''}}">{{ (budget.getAllocatedAmount( "now"|date("Y") ) - transactionServ.getTotalByBudget( budget, "now"|date("Y") ))|kroner }},-</td>


				<td>
					<div class="dropdown" align="right">
						<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsBudget_{{ budget.getId() }}" data-toggle="dropdown" aria-expanded="true">
							Handlinger
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="actionsBudget_{{ budget.getId() }}">
							{% if user.hasRole('ROLE_ADMIN') %}
							<li role="presentation">
								<a href="{{ url('UKMeco_budget_edit', {'id': budget.getId() } ) }}">Rediger formål</a>
							</li>
							{% endif %}
							<li role="presentation">
								<a href="{{ url('UKMeco_project_homepage', {'budget': budget.getId() } ) }}">Vis del-formål</a>
							</li>
						</ul>
					</div>
				</td>

			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			Det er ikke lagt til noen formål enda. 
			<a href="{{ url( 'UKMeco_budget_create' ) }}">Start med å legge til et</a>
		</div>
	{% endif %}
{% endblock %}