{% extends "base.html.twig" %}

{% block title %}Hjem{% endblock %}

{% set current_year = "now"|date("Y") %}

{% block body %}
	{% embed "breadcrumbs.html.twig" with {'type': 'transaction'} %}{% endembed %}	
	<h1>
		{{ subproject.getName() }}
		<small>
			<a href="{{ url('UKMeco_subproject_edit', {'id': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}"><img src="//ico.ukm.no/pencil-256.png" width="18" /></a>
		</small>
	</h1>

	<p>{{ subproject.getDescription() }}</p>
	<div class="clearfix"></div>
	
	<p class="lead well">
		{% if subproject.getAllocatedAmount( current_year ) < transactionServ.getTotalBySubProject( subproject, current_year ) %}
			Overforbruk 
			<label class="text-danger">
				kr {{ ( transactionServ.getTotalBySubProject( subproject, current_year ) - subproject.getAllocatedAmount( current_year ) )|kroner }},-
			</label>
		{% else %}
			Gjenstående 
			<label class="text-success">
				kr {{ ( subproject.getAllocatedAmount( current_year ) - transactionServ.getTotalBySubProject( subproject, current_year ) )|kroner }},-
			</label>
		{% endif %}
		av budsjetterte <label class="text-info">kr {{ subproject.getAllocatedAmount( current_year )|kroner }},-</label>. 
		Benyttet <label class="text-info">kr {{ transactionServ.getTotalBySubProject( subproject, current_year )|kroner }},-</label> 
	</p>

	
	{#<p class="lead">Alle transaksjoner</p>#}

	{% if transactions|length == 0 %}
		<div class="alert alert-warning">
			Det er ikke lagt til noen transaksjoner i "{{ subproject.getName() }}" enda. 
			<a href="{{ url( 'UKMeco_transaction_create', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">
				Start med å legge til en transaksjon
			</a>
		</div>
	{% else %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Transaksjon</th>
					<th>Faktura kommer</th>
					<th>Faktura betalt</th>
				</tr>
			</thead>
			<tbody>
			{% for transaction in transactions %}
				<tr>
					<td title="BILAG: {{ transaction.getBilag() }}">{{ transaction.getName() }}</td>
					<td>{{ transaction.getType() == 'Budget' ? transaction.getAmount() : 0 }},-</td>
					<td>{{ transaction.getType() != 'Budget' ? transaction.getAmount() : 0 }},-</td>
					
					<td>
						<div class="dropdown" align="right">
							<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsTransaction_{{ budget.getId() }}" data-toggle="dropdown" aria-expanded="true">
								Handlinger
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="actionsTransaction_{{ budget.getId() }}">
								<li role="presentation">
									<a href="{{ url( 'UKMeco_transaction_edit', {'id': transaction.getId(), 'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">Rediger transaksjon</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}


