{% extends "base.html.twig" %}

{% block title %}Hjem{% endblock %}

{% block body %}
	<div class="pull-right">
		<p></p>
		<a href="{{ url( 'UKMeco_transaction_create', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">
			<button class="btn btn-success"><i class="icon-add"></i> Legg til ny transaksjon</button>
		</a>
	</div>

	<h1>
		<a href="{{ url( 'UKMeco_project_homepage', {'budget': budget.getID()} ) }}">{{ budget.getName() }}</a>:
		<a href="{{ url( 'UKMeco_subproject_homepage', {'budget': budget.getID(), 'project': project.getId() } ) }}">{{ project.getName() }}</a>:
		{{ subproject.getName() }}
		<small>
			<a href="{{ url('UKMeco_project_edit', {'id': project.getId(), 'budget': budget.getId() } ) }}"><img src="//ico.ukm.no/pencil-256.png" width="18" /></a>
		</small>
	</h1>

		
	<div class="clearfix"></div>
	
	
	<p class="lead">Alle transaksjoner</p>

	{% if transactions|length == 0 %}
		<div class="alert alert-warning">
			Det er ikke lagt til noen transaksjoner i {{ project.getName() }}: {{ subproject.getName() }} enda. 
			<a href="{{ url( 'UKMeco_transaction_create', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">
				Start med å legge til et
			</a>
		</div>
	{% else %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Transaksjon</th>
					<th>Faktura kommer</th>
					<th>Faktura betalt</th>
				</tr>
			</thead>
			<tbody>
			{% for transaction in transactions %}
				<tr>
					<td>
						<a href="{{ url( 'UKMeco_transaction_edit', {'id': transaction.getId(), 'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">
							{{ transaction.getName() }}
						</a>
					</td>
					<td>{{ transaction.getType() == 'Budget' ? transaction.getAmount() : 0 }},-</td>
					<td>{{ transaction.getType() != 'Budget' ? transaction.getAmount() : 0 }},-</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}