{% extends "base.html.twig" %}

{% block title %}{{ 'Alle prosjekter :: ' ~ project.getName() ~ ' :: ' ~ budget.getName() }}{% endblock %}

{% block body %}
	<div class="pull-right">
		<p></p>
		<a href="{{ url( 'UKMeco_subproject_create', {'project': project.getId(), 'budget': budget.getId() } ) }}">
			<button class="btn btn-success"><i class="icon-add"></i> Legg til nytt prosjekt</button>
		</a>
	</div>
	
	<h1>
		<a href="{{ url('UKMeco_budget_homepage') }}"><img src="//ico.ukm.no/hus-64.png" width="40" /></a> 
		<a href="{{ url( 'UKMeco_project_homepage', {'budget': budget.getID()} ) }}">{{ budget.getName() }}</a>:
		{{ project.getName() }}
		<small>
			<a href="{{ url('UKMeco_project_edit', {'id': project.getId(), 'budget': budget.getId() } ) }}"><img src="//ico.ukm.no/pencil-256.png" width="18" /></a>
		</small>
	</h1>
	<p class="lead">
		Benyttet <label class="text-info">kr {{ transactionServ.getTotalByProject( project, "now"|date("Y") )|kroner }},-</label> 
		av budsjetterte <label class="text-info">kr {{ project.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</label> 
		i {{ "now"|date("Y") }}.
		{% if project.getSubProjectsAllocatedTotal( "now"|date("Y") ) < transactionServ.getTotalByProject( project, "now"|date("Y") ) %}
			Overforbruk 
			<label class="text-danger">
				kr {{ ( transactionServ.getTotalByProject( project, "now"|date("Y") ) - project.getSubProjectsAllocatedTotal( "now"|date("Y") ) )|kroner }},-
			</label>
		{% else %}
			Gjenstående 
			<label class="text-success">
				kr {{ (project.getSubProjectsAllocatedTotal( "now"|date("Y") ) - transactionServ.getTotalByProject( project, "now"|date("Y") ) )|kroner }},-
			</label>
		{% endif %}
	</p>
	
	{#<h3>Alle del-prosjekter</h3>#}
	
	{% if true %}
		<table class="table table-striped subproject">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th colspan="2" style="text-align:center">{{ "now"|date("Y") }}</th>
					{% for i in "now"|date("Y").."now +3 years"|date("Y") %}
						<th></th>
					{% endfor %}
				</tr>
				<tr>
					<th class="col-xs-3">Prosjekt</th>
					{% for i in "now -1 year"|date("Y").."now +3 years"|date("Y") %}
						{% if loop.index == 2 %}
							<th class="col-xs-1 active kroner">Budsjett</th>
							<th class="col-xs-1 warning kroner">Regnskap</th>
						{% else %}
							<th class="col-xs-1 kroner">
								<small>{{ i }}</small>
							</th>
						{% endif %}
					{% endfor %}
					<th class="col-xs-1"></th>
				</tr>
			</thead>
			<tbody>			
			{% for subproject in project.getSubProjects() %}
				<tr>
					<td>
						<a href="{{ url('UKMeco_transaction_homepage', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">{{ subproject.getName() }}</a>
					</td>
					{% for i in "now -1 year"|date("Y").."now +3 years"|date("Y") %}
						{% if loop.index == 2 %}
							<td class="active kroner b">{{ subproject.getAllocatedAmount( i )|kroner }},-</td>
							<td class="warning kroner">{{ transactionServ.getTotalBySubProject( subproject, "now"|date("Y") )|kroner }},-</td>
						{% else %}
							<td class="kroner">
								<small>{{ subproject.getAllocatedAmount( i )|kroner }},-</small>
							</td>
						{% endif %}
					{% endfor %}
					
					<td>
						<div class="dropdown" align="right">
							<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsSubProject_{{ subproject.getId() }}" data-toggle="dropdown" aria-expanded="true">
								Handlinger
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="actionsSubProject_{{ subproject.getId() }}">
								<li role="presentation">
									<a href="{{ url('UKMeco_subproject_edit', {'id': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">Rediger prosjekt</a>
								</li>
								<li role="presentation">
									<a href="{{ url('UKMeco_transaction_homepage', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">Vis transaksjoner</a>
								</li>
	
							</ul>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>SUM</th>
					{% for i in "now -1 year"|date("Y").."now +3 years"|date("Y") %}
						{% if loop.index == 2 %}
							<th class="col-xs-1 active kroner">{{ project.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</th>
							<th class="col-xs-1 warning kroner">{{ transactionTotal|kroner }},-</th>
						{% else %}
							<th class="col-xs-1 kroner">
								<small>{{ project.getSubProjectsAllocatedTotal( i )|kroner }},-</small>
							</th>
						{% endif %}
					{% endfor %}
					<th class="col-xs-1"></th>
				</tr>
			</tfoot>
		</table>
	{% else %}
		<div class="error error-warning">
			Det er ikke lagt til noen del-prosjekter i {{ project.getName() }} enda. 
			<a href="{{ url( 'UKMeco_subproject_create', {'project': project.getId(), 'budget': budget.getId() } ) }}">Start med å legge til et</a>
		</div>
	{% endif %}
{% endblock %}