{% extends "base.html.twig" %}

{% block title %}{{ 'Alle utgiftsgrupper :: ' ~ project.getName() ~ ' :: ' ~ budget.getName() }}{% endblock %}

{% block body %}
	{% embed "breadcrumbs.html.twig" with {'type': 'subproject'} %}{% endembed %}	
	<h1>
		{{ project.getName() }}
		<small>
			<a href="{{ url('UKMeco_project_edit', {'id': project.getId(), 'budget': budget.getId() } ) }}"><img src="//ico.ukm.no/pencil-256.png" width="18" /></a>
		</small>
	</h1>
	<p>{{ project.getDescription() }}</p>

	
	<p class="lead well">
		{% if project.getSubProjectsAllocatedTotal( "now"|date("Y") ) < transactionServ.getTotalByProject( project, "now"|date("Y") ) %}
			Overforbruk 
			<label class="text-danger">
				kr {{ ( transactionServ.getTotalByProject( project, "now"|date("Y") ) - project.getSubProjectsAllocatedTotal( "now"|date("Y") ) )|kroner }},-
			</label>
		{% else %}
			Gjenstående 
			<label class="text-success">
				kr {{ (project.getSubProjectsAllocatedTotal( "now"|date("Y") ) - transactionServ.getTotalByProject( project, "now"|date("Y") ) )|kroner }},-
			</label>
		{% endif %}
		av budsjetterte <label class="text-info">kr {{ project.getSubProjectsAllocatedTotal( "now"|date("Y") )|kroner }},-</label>. 
		Benyttet <label class="text-info">kr {{ transactionServ.getTotalByProject( project, "now"|date("Y") )|kroner }},-</label> 
	</p>
	
	{#<h3>Alle del-utgiftsgrupper</h3>#}
	
	{% if subprojects|length > 0 %}
		<table class="table table-striped subproject">
			<thead>
				<tr>
					<th class="col-xs-3">Utgiftsgrupper</th>
					{% for i in "now -1 year"|date("Y").."now +1 years"|date("Y") %}
						{% if loop.index == 1 %}
							<th class="col-xs-1 kroner"><small>{{ i }}<br />budsjett</small></th>
							<th class="col-xs-1 kroner"><small>{{ i }}<br />regnskap</br></th>
						{% elseif loop.index == 2 %}
							<th class="col-xs-1 warning kroner">{{ i }}<br />budsjett</th>
							<th class="col-xs-1 warning kroner">{{ i }}<br />regnskap</th>
						{% else %}
							<th class="col-xs-1 kroner">
								<small>{{ i }}<br />budsjett</small>
							</th>
						{% endif %}
					{% endfor %}
					<th class="col-xs-1"></th>
				</tr>
			</thead>
			<tbody>			
			{% for subproject in subprojects %}
				<tr>
					<td>
						<a href="{{ url('UKMeco_transaction_homepage', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">{{ subproject.getName() }}</a>
					</td>
					{% for i in "now -1 year"|date("Y").."now +1 years"|date("Y") %}
						{% if loop.index == 1 %}
							<td class="kroner"><small>{{ subproject.getAllocatedAmount( i )|kroner }},-</small></td>
							<td class="kroner"><small>{{ transactionServ.getTotalBySubProject( subproject, i )|kroner }},-</small></td>
						{% elseif loop.index == 2 %}
							<td class="warning kroner b">{{ subproject.getAllocatedAmount( i )|kroner }},-</td>
							<td class="warning kroner">{{ transactionServ.getTotalBySubProject( subproject, "now"|date("Y") )|kroner }},-</td>
						{% else %}
							<td class="kroner">
								<small>{{ subproject.getAllocatedAmount( i )|kroner }},-</small>
							</td>
						{% endif %}
					{% endfor %}
					
					<td>
						<div class="dropdown" align="right">
							<button class="btn btn-default dropdown-toggle btn-sm" type="button" id="actionsSubProject_{{ subproject.getId() }}" data-toggle="dropdown" aria-expanded="true">
								Handlinger
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="actionsSubProject_{{ subproject.getId() }}">
								<li role="presentation">
									<a href="{{ url('UKMeco_subproject_edit', {'id': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">Rediger utgiftsgruppe</a>
								</li>
								<li role="presentation">
									<a href="{{ url('UKMeco_transaction_homepage', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}">Vis transaksjoner</a>
								</li>
								<li role="presentation">
									<a href="{{ url('UKMeco_subproject_delete', {'id': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}" onClick="return confirm('Er du sikker på at du vil slette &quot;{{ subproject.getName() }}&quot;');">Slett utgiftsgruppe</a>
								</li>	
							</ul>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>SUM</th>
					{% for i in "now -1 year"|date("Y").."now +1 years"|date("Y") %}
						{% if loop.index == 1 %}
							<th class="kroner"><small>{{ project.getSubProjectsAllocatedTotal( i )|kroner }},-</small></th>
							<th class="kroner"><small>{{ transactionServ.getTotalByProject( project, i )|kroner }},-</small></th>
						{% elseif loop.index == 2 %}
							<th class="col-xs-1 warning kroner">{{ project.getSubProjectsAllocatedTotal( i )|kroner }},-</th>
							<th class="col-xs-1 warning kroner">{{ transactionServ.getTotalByProject( project, i )|kroner }},-</th>
						{% else %}
							<th class="col-xs-1 kroner">
								<small>{{ project.getSubProjectsAllocatedTotal( i )|kroner }},-</small>
							</th>
						{% endif %}
					{% endfor %}
					<th class="col-xs-1"></th>
				</tr>
			</tfoot>
		</table>
	{% else %}
		<div class="alert alert-info">
			Det er ikke lagt til noen utgiftsgrupper i "{{ project.getName() }}" enda. 
			<a href="{{ url( 'UKMeco_subproject_create', {'project': project.getId(), 'budget': budget.getId() } ) }}">Start med å legge til en utgiftsgruppe</a>
		</div>
	{% endif %}
{% endblock %}