{% set btnClass = 'btn btn-xs btn-primary' %}

<ol class="breadcrumb" id="UKMeco_breadcrumbs">
	{% if type != 'budget' %}
		<li><a href="{{ url('UKMeco_budget_homepage') }}">Alle form책l</a></li>
	{% endif %}
	
	
	{% if type == 'subproject' or type == 'transaction' or type == 'transactionEdit' %}
		<li><a href="{{ url( 'UKMeco_project_homepage', {'budget': budget.getID()} ) }}">{{ budget.getCode() }} {{ budget.getName() }}</a></li>
	{% endif %}
	
	{% if type == 'transaction' %}
		<li><a href="{{ url( 'UKMeco_subproject_homepage', {'budget': budget.getID(), 'project': project.getId() } ) }}">{{ project.getName() }}</a></li>
	{% endif %}
	
	
	{% if type == 'budget' %}
		<li class="active">Alle form책l</li>
	{% elseif type == 'project' %}
		<li class="active">{{ budget.getCode() }} {{ budget.getName() }}{# :: Alle del-form책l#}</li>
	{% elseif type == 'subproject' %}
		<li class="active">{{ project.getName() }}{# :: Alle prosjekt#}</li>
	{% elseif type == 'transaction' %}
		<li class="active">{{ subproject.getName() }}{# :: Alle transaksjoner#}</li>
	{% elseif type == 'transactionEdit' %}
		<li>
			<a href="{{ url( 'UKMeco_transaction_homepage', {'budget': transaction.getBudget(), 'project': transaction.getProject(), 'subproject': transaction.getSubProject()} ) }}">{{ subproject.getName() }}</a>
		</li>
		<li class="active">Redigerer transaksjon</li>
	{% endif %}
	
	
	<li class="pull-right">
		{% if type == 'transaction' %}
			<a href="{{ url( 'UKMeco_transaction_create', {'subproject': subproject.getId(), 'project': project.getId(), 'budget': budget.getId() } ) }}" class="{{ btnClass }}">Legg til ny transaksjon</a>		
		{% elseif type == 'subproject' %}
			<a href="{{ url( 'UKMeco_subproject_create', {'project': project.getId(), 'budget': budget.getId() } ) }}" class="{{ btnClass }}">Legg til ny utgiftsgruppe</a>
		{% elseif type == 'project' %}
			<a href="{{ url( 'UKMeco_project_create', {'budget': budget.getId()} ) }}" class="{{ btnClass }}">Legg til nytt prosjekt</a>
		{% elseif type == 'budget' and user.hasRole('ROLE_ADMIN') %}
			<a href="{{ url( 'UKMeco_budget_create' ) }}" class="{{ btnClass }}">Legg til nytt form책l</a>
		{% endif %}
	</li>
</ol>